@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background: #7C83FD;
}

h1 {
  color : white;
  text-transform: uppercase;
  text-align: center;
  margin-top : 2rem;
  font-weight: bold;
}

.container {
  background-color : white;
  padding: 3rem;
  border-radius: 1rem;
  margin-top: 2rem;
}


form label {
  font-size : 1.5rem;
  font-weight : bold;
}

input[type="submit"] {
  font-weight : bold;
  font-size: 1.2rem;
}

.error {
  color:red;
  text-align: center;
  font-size : 1.2rem;
}

.result {
  border: 1px solid red;
  padding: 1.5rem;
}
.result p {
  font-size : 1.2rem;
}

.message {
  text-align: center;
  font-size : 1.2rem;
}
