@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background: #7C83FD;
}

h1 {
  color : white;
  text-transform: uppercase;
  text-align: center;
  margin-top : 2rem;
  font-weight: bold;
}

.container {
  background-color : white;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 2rem;
  height: 80vh;
}

form {
  padding : 3rem;
  max-width : 600px;
  margin: 0 auto;

}

form label {
  font-size : 2rem;
}